{
	"name": "spam-triage",
	"main": "worker/index.ts",
	"compatibility_date": "2025-05-28",
	"assets": {
		"directory": "./dist",
		"binding": "ASSETS"
	},
	"d1_databases": [
		{
			"binding": "DB",
			"database_name": "spam-triage-db",
			"database_id": ""
		}
	],
	"vars": {
		"HIDDEN_ADMIN_PATH": "/replace-with-random-chars"
	},
	"triggers": {
		"crons": [
			"0 0 * * *"
		]
	}
}
